$blue: #57869E;
$brown: #4A4140;
$lightBrown: #8A7369;
$orange: #C79B87;
$beige: #E3D4BA;
$green: #DEDECE;

$bodyBackgroundColor: $green;
$headerBackgroundColor: $lightBrown;
$navbarBackgroundColor: $blue;
$ratingBackgroundColor: $orange;