.movieDetailContainer {
    width: 100%;
    background-color: white;
}

.backdrop {
    width: 100%;
}

.movie-detail-title {
    font-size: 30px;
    font-weight: bold;
}

.movie-detail-overview {
    font-size: 18px;
    width: 300px;
    text-align: center;
}